body {
  background-color: bisque;
  text-align: center;
}
h1,
p {
  color: cadetblue;
  font-family: verdana;
}
a:link,
a:visited {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  border: 2px solid gray;
  text-decoration: none;
}
a:hover,
a:active {
  background-color: gray;
  color: white;
}
