ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  width: 100%;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  background-color: #333;
}
li a:hover {
  background-color: #111;
}
