h2 {
  text-align: center;
  color: bisque;
  font-family: sans-serif;
}
th,
td {
  border: 1px solid #a09d9d;
  text-align: center;
  padding: 8px;
}
table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
}
th {
  background-color: #a09d9d;
}
